.inc_pdp_block,
.inc_sidebar_block,
.inc_af_block,
.inc_modal_parent_block {

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .inc_product_image_gallery_count {
    display: none;
  }
}