.inc_product_desc_ratings_block {
  display: flex;
  align-items: center;
  position: relative;
}

.inc_product_ratings_count {
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  white-space: nowrap;
  line-height: 20px;
  height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-family: Sharp Grotesk, sans-serif;
  color: #000;
  position: relative;
  .inc_product_ratings_count_number {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #000;
    }
  }
}

.inc_product_desc_ratings_block.inc_modal {
  justify-content: flex-start;

  margin-bottom: 18px;
}
