.inc_recs_block {
  background: #ffffff;
  position: relative;
  padding: 24px 0 10px;
  margin: 20px 0;
  border: 54px solid #f6f6f6;
  border-left: none;
  border-right: none;

  @media screen and (max-width: 800px) {
    padding: 20px 0 10px;
    border: 25px solid #f6f6f6;
    border-left: none;
    border-right: none;
  }

  .inc_af_title_text_block {
    color: #000000;
    text-align: left;
    padding: 0 0 24px 24px;
    // margin: 0px auto 20px;
    margin: 0px;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.64px;
    font-family: 'Sharp Grotesk';
    @media screen and (max-width: 992px) {
      padding: 0 0 5px 3%;
    }

    @media screen and (max-width: 800px) {
      font-size: 22px;
      padding: 0 0 0 4%;
      margin: 0 auto 4px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 12px;
    }
  }
  .inc_af_promo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    .inc_af_promo_text {
      display: inline-block;
      border: 1px dashed #000000;
      padding: 4px 18px;
      background: #ffffff;
      font-family: Sharp Grotesk;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      span {
        font-weight: bold;
      }
    }
  }

  .inc_recs_bundles_block {
    margin-top: 25px;
  }

  .swiper {
    @media screen and (max-width: 992px) {
      overflow: auto;
      padding-bottom: 5px;
    }
  }

  .inc_af_bundle_nav_right,
  .inc_af_bundle_nav_left {
    background: url(https://usaincreasingly.increasingly.co/Clients/opi-vite/sprite.svg) 2px -55px/35px
      no-repeat #fff;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    position: absolute;
    top: 40%;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transform: rotate(180deg);

    @media screen and (max-width: 992px) {
      display: none;
    }

    &.inc_disabled {
      opacity: 0.5;
    }
  }

  .inc_af_bundle_nav_left {
    left: 30px;
    right: auto;
    transform: none;
  }

  .inc_af_bundle_product_block {
    position: relative;
    padding-bottom: 30px;
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      display: flex;
      overflow: auto;
      padding-bottom: 15px;
      padding-left: 3%;
    }

    .inc_product_desc_block {
      text-align: left;
      .inc_modal_block {
        .adding {
          background: #f6f6f6 !important;
        }

        @media screen and (max-width: 440px) {
          border: 1px solid #cacaca;
          .inc_modal_select_button {
            height: 34px;
            font-size: 10px;
            font-weight: 400;
            border: none;
          }
        }
      }
      .inc_error {
        font-size: 12px;
        padding-top: 18px;
        opacity: 0;
        /* position: relative;
        bottom: unset;
        left: unset;
        transform: none; */
        display: none;
        &.inc_show {
          display: block;
        }
      }
    }

    .inc_product_desc_ratings_block {
      justify-content: flex-start;
    }

    .inc_product_block
      .inc_product_info_main_block
      .inc_product_desc_block
      .inc_product_desc_price_block {
      justify-content: flex-start;
    }

    .inc_product_block
      .inc_product_info_main_block
      .inc_product_img_block
      .inc_product_img_main_block
      .inc_product_img_main_img {
      height: 510px;
      @media screen and (max-width: 1440px) {
        height: 410px;
      }
      @media screen and (max-width: 992px) {
        height: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .inc_product_block {
    width: 98%;
    @media screen and (max-width: 992px) {
      width: 228px;
      margin: 0 5px;
      padding: 0;
    }
    @media screen and (max-width: 600px) {
      width: 178px;
    }

    .inc_product_info_main_block {
      @media screen and (max-width: 992px) {
        display: block;
        padding: 0;

        .inc_product_desc_block {
          padding: 5px 15px;
          width: 100%;
          .inc_modal_block {
            margin: 0 auto;
            max-width: 100%;
          }

          @media screen and (max-width: 440px) {
            .inc_product_desc_manufacturer {
              font-size: 10px;
              font-weight: 400;
              line-height: 12px;
              letter-spacing: 0.6px;
              height: 12px;
            }
            .inc_product_desc_title_text {
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 15px;
              height: 18px;
            }
            .inc_product_desc_price_block {
              font-size: 10px;
              line-height: 14px;
              margin-bottom: 0px;
            }
            .inc_product_desc_ratings_block {
              margin-bottom: 10px;
              .inc_product_ratings_count {
                font-size: 10px;
              }
            }
          }
        }

        .inc_product_img_block {
          @media screen and (max-width: 800px) {
            width: 100%;
          }
          .inc_product_promotional_message {
            @media screen and (max-width: 800px) {
              margin-left: 0;
              top: 10px;
              left: 10px;
            }
          }
          .inc_product_img_main_block .inc_product_img_main_img {
            img {
              padding: 0;
            }
          }
        }
      }
    }
  }
  &.inc_count_2,
  &.inc_count_3 {
    .inc_recs_bundles_block {
      .inc_af_bundle_product_block {
        .swiper-wrapper {
          justify-content: center;
          @media screen and (max-width: 800px) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
